{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darklake</title>

    <!-- Mulish -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/components/base.css' %}">
</head>
<body>
    <!-- header.html -->
    {% include 'main/components/header/header.html' %}
    
    {% block content %}

    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Safari иногда вставляет "фантомный" отступ сверху на старте
            window.scrollTo(0, 1);
            setTimeout(() => window.scrollTo(0, 0), 100);
        });
    </script>

    <!-- footer.html -->
    {% include 'main/components/footer/footer.html' %}
</body>
</html>
